header, main, footer{
min-height: 10vh;
padding: 0%;
text-align: center;
}


header, main, footer{
border: 1px solid black;
min-height: 10vh;
padding: 4%;
}


*{
    background-color:black;
    color: white;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.imgBox img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.imgBox{

    overflow: hidden;
 
}

main{
    display: grid;
    grid-template-columns:1fr 1fr ;
    
}
div{
    padding: 4%;
    text-align: left;
}