main, footer,nav, div,header{
    border: solid black 1px;
    margin: 0%;
    padding: 3%;
    min-height: 20vh;
}

header h1, header{
  text-align: center;
  background-color: rgb(200, 17, 17);

}
header h1{
  color: yellow;
}
header h2{
  color: white;
}




main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}









/* .imgBox{
  width:200px;
  aspecti-ratio:3 / 5;
  overflow:hidden;
  display:grid;
  grid-template-areas: 'main';
}

.imgBox>*{
  grid-area:main;
}

.imgBox img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.imgBox img:first-of-type{

} */