header, main, footer,.Rubrik, div{
    
    margin: 0%;
    padding: 3%;
    box-sizing: border-box;
    min-height: 5vh;
    border: solid white 1px;

}

.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;


}

*{
    scroll-behavior: smooth;
    text-decoration: none;
    color: white;
    background-color:black ;
    margin:0;

}

.contact{
    grid-template-columns: 1fr;
    text-align: center;


    h1{
        margin-bottom: 1rem;
    }

}

.footerBlack{
    background-color: black;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.cards{

    padding: 0%;
    display: block;

}

a, .imgBox{
    padding: 0%;
}

.imgBox{
aspect-ratio: 17/16;
    overflow: hidden;
}


/* css för bilder som ligger i låda med klass imgBox */
.imgBox img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
    

.pris, section{
    text-align: center;
    padding: 0;
    min-height: 2vh;

}

footer,h3,h2,.mail{
    
    color: black;
    background-color: rgb(176, 55, 55);
    
}
h1,h2,.mail{
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media(min-width:600px){

}
