header, main, footer, div{
    
    margin: 0%;
    padding: 3%;
    box-sizing: border-box;
    min-height: 5vh;
 

}



*{
    scroll-behavior: smooth;
    text-decoration: none;
    color: white;
    background-color:black ;
    margin:0;

}



a, .imgBox{
    padding: 0%;
}

.imgBox{
aspect-ratio: 1/1;
    overflow: hidden;
}


/* css för bilder som ligger i låda med klass imgBox */
.imgBox img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
    

.pris{
    text-align: center;
    min-height: 2vh;

}


.menu, header,a,.RubrikMenu{
    background-color:rgb(176, 55, 55); ;
}

.indexMain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}


.RubrikMenu{
    text-align: center;
}

.cards{

    display: block;

}

h2,.mail{
    
    color: black;
    background-color: rgb(176, 55, 55);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}




header button{
    background-color: transparent;
    border: none;
    font-size: 3rem;
}


.index,footer,.menulink,.RubrikMenu{
    
    color: black;
    background-color: rgb(176, 55, 55);
    
}



.menu{
    display:grid;
    gap:20px;
    transform: translateX(-120%);
    position: absolute;
    padding:3%;
    width:100%;
    margin:0;
    left:0;
    transition: transform 1s;
}


.faqMain{
    grid-template-columns: 1fr;
    text-align: center;

    .FAQtext, .FAQtext2{
        text-align: left;
        background-color: black;
        color: white;

    }

    .FAQtext2{
        margin-top: 4rem;
    }
}







.contact{
    grid-template-columns: 1fr;
    text-align: center;


    .kontaktText{
        margin-bottom: 5rem;
    }

}



@media(min-width:600px){


    button{
    display: none;
    }   


    main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    }


    .menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    transform: translateX(0);
    position: relative;
    padding-inline: 0;
    transition: transform 0s;
}

}




/* Togglade klasser */
.show{
    display: grid;

    transform: translateX(0);

}