header, main, footer,.Rubrik, div{
    
    margin: 0%;
    padding: 3%;
    box-sizing: border-box;
    min-height: 5vh;

}

*{
    scroll-behavior: smooth;
    text-decoration: none;
    color: white;
    background-color:black ;
}

.Rubrik{
    text-align: center;
    
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.cards{

    padding: 0%;
    display: block;

}

a, .imgBox{
    padding: 0%;
}

.imgBox{

    overflow: hidden;
}


/* css för bilder som ligger i låda med klass imgBox */
.imgBox img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
    

.pris, section{
    text-align: center;
    padding: 0;
    min-height: 2vh;

}

footer,h3,h2,h4{
    
    color: black;
    background-color: rgb(176, 55, 55);
    
}
h1,h2,h4{
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
